/* common.css */

/* 공통내용 */
html,body { width:100%; height:100%; }
#wrap { width:100%; height:auto; min-width:240px; min-height:800px; 
  background-image:url('../../img/stars_bg.png');
  background-repeat:no-repeat;
  background-position:0 0;
  background-size:120% 100%; } /* #020914 */
  
  /* .wrap_outer { background-color:rgba(2,6,17,0.6); } */
