/* other_aboutBox.css */

#aboutBox { width:100%; height:auto; min-height:500px; margin:auto;
  /* background-image:url('../../../img/background.jpg'); */ } /* #020611 */

.about_outer { position:relative; width:100%; height:auto; min-height:500px; background-color:rgba(2,6,17,0.8); }

  .title_area { width:100%; height:auto; margin-bottom:100px; }
    .title_area i { display: block; }
    .line { width:1.5px; height:70px; margin:auto; background-color:#fff; }
    .circle { width:10px; height:10px; border-radius:100%; margin:auto;
      margin-bottom:40px; background-color:#fff; 
      box-shadow: 1px 1px 0 #541d87, 0 0 20px 5px #cec0ff, inset 2px 2px 0 #dfd3ff;
      animation: glow 2s infinite ease; }

    .circle::after {	content:' '; display: block; position: absolute; }

/* animates box shadow glow effect */
@keyframes glow {
	0%,100% { box-shadow: 1px 1px #541d87, 0 0 20px 5px #8f91ff, inset 2px 2px #dfd3ff; }
	50% { box-shadow: 1px 1px #541d87, 0 0 16px 8px #8f91ff, inset 2px 2px #dfd3ff; } }

  .title_area h3 { width:auto; height:40px; margin:auto; 
    text-align:center; text-transform:uppercase; color:#fff; }

  /* @keyframes neon2 {
    from { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 
      0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 
      0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF; }
    to { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 
      0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF,
      0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; }
  } */

  .about_context_area { width:60%; height:auto; min-height:200px; margin:auto; margin-bottom:100px; }
  .about_context_text { float:left; width:60%; height:auto; min-height:200px;
    padding-top:10px; box-sizing: border-box; text-align:right; }
  .about_context_text span { width:auto; height:auto; color:#fff; font-weight:100; }
  .about_context_img { float:right; width:20%; height:auto; min-height:200px; 
    background-image:url('../../../img/woman.png');
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:contain; }

.skill_area { width:100%; height:100%;  }
.skill_area > h3 { text-align:center; color:#fff; text-transform:uppercase;
  margin-bottom:50px; }
  .paper{ display:block; margin:auto; background-color:rgba(255,255,255,0.6); }

.about_btn_area { width:auto; height:auto; }
.about_btn_area button { width:auto; height:auto; color:#fff; }